@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

:root {
  --primary: #6c63ff;
  --text-heading: rgb(2, 8, 23);
  --text-content: rgb(100, 116, 139);
  --background: #f9fafb;
}

/* this is important to apply classes to components  */
@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-heading: var(--text-heading);
  --color-content: var(--text-content);
}

/* This is based on dark/light theme of laptop */
@media (prefers-color-scheme: dark) {
  :root {
    --text-heading: #f1f5f9;
    --text-content: rgb(148, 163, 184);
    --background: rgba(2, 8, 23);
  }
}

/* this is required for dark mode by adding classname to html tag */
.dark {
  --text-heading: #f1f5f9;
  --text-content: rgb(148, 163, 184);
  --background: rgba(2, 8, 23);
}

body {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}